{{#resume.basics}}
\title{Resume |  {{name}} }

{{#if email}}

\author{Jasmeet Oberai - {{email}} }

{{/if}}

\begin{center}
{\color{blackish}{\Huge {\textbf{ {{name}} }}}}

%{\color{blackish}{\Huge {\textbf{Jasmeet Oberai}}} \hspace{6em} \Large {\textbf {4A Software Engineering}}}

\end{center}


\begin{center}
\Mundus
\hspace{0.1em}
\href{http://www.jasinobe.com}{jasinobe.com} 
\faGithub*
\href{https://github.com/jasmeeto}{github.com/jasmeeto} 
\Letter
\hspace{0.1em}
\href{mailto:jasoberai@gmail.com}{jasoberai@gmail.com}
\Mobilefone
\hspace{0.1em}
{{#if phone}}
206-453-9615 
{{/if}}
\end{center}

<!--
	<h1>{{name}}</h1>
	<h2>{{label}}</h2>
	<section id="basics">
		<div class="contact">
		{{#if website}}
		<div class="website">
			<strong>Website</strong>
			{{website}}
		</div>
		{{/if}}
		{{#if email}}
		<div class="email">
			<strong>Email</strong>
			{{email}}
		</div>
		{{/if}}
		{{#if phone}}
		<div class="phone">
			<strong>Phone</strong>
			{{phone}}
		</div>
		{{/if}}
		</div>
		{{#if summary}}
		<div class="summary">
			<p>{{summary}}</p>
		</div>
		{{/if}}
		{{#location}}
		<h3>Location</h3>
		<section id="location">
			{{#if address}}
			<div class="address">
				<strong>Address</strong>
				{{address}}
			</div>
			{{/if}}
			{{#if postalCode}}
			<div class="postalCode">
				<strong>Postal code</strong>
				{{postalCode}}
			</div>
			{{/if}}
			{{#if city}}
			<div class="city">
				<strong>City</strong>
				{{city}}
			</div>
			{{/if}}
			{{#if countryCode}}
			<div class="countryCode">
				<strong>Country code</strong>
				{{countryCode}}
			</div>
			{{/if}}
			{{#if region}}
			<div class="region">
				<strong>Region</strong>
				{{region}}
			</div>
			{{/if}}
		</section>
		{{/location}}
		{{#if profiles.length}}
		<h3>Profiles</h3>
		<section id="profiles">
			{{#each profiles}}
			<div class="item">
				{{#if network}}
				<strong class="network">
					{{network}}
				</strong>
				{{/if}}
				{{#if username}}
				<div class="username">
					{{username}}
				</div>
				{{/if}}
				{{#if url}}
				<div class="url">
					<a href="{{url}}">Link</a>
				</div>
				{{/if}}
			</div>
			{{/each}}
		</section>
		{{/if}}
	</section>
-->
{{/resume.basics}}
